.wrapper {
  flex: 1;
}

.box {
  border: 1px solid var(--color-border-dark);
  width: 100%;
  max-width: 560px;
  margin: 32px auto;
  padding: 16px;
  box-shadow: var(--shadow);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media(max-width: 592px) {
  .box {
    margin: 0;
    max-width: initial;
    border: none;
    box-shadow: none;
  }
}

.header {
  display: grid;
  grid-template:
    "icon title" 32px
    "icon subtitle" 24px /
     min-content 1fr;
  gap: 8px 16px;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--color-border);
}

.title {
  font-family: var(--font-bitter);
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-self: end;
}

.subTitle {
  color: var(--color-text-muted);
  align-self: start;
}

.image {
  border-radius: 2px;
}
