.scopeList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scopeList > li {
  padding: 8px 16px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  display: grid;
  gap: 12px;
  grid-template-columns: 16px auto;
  align-items: center;
}

.scopeList > li + li {
  margin-top: 8px;
}
