version: '3'

services:
  web:
    image: ghcr.io/gw2treasures/gw2.me/web:${IMAGE_VERSION:-latest}
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://gw2me:gw2me@database:5432/gw2me?schema=public
      - BASE_DOMAIN=localhost
      - FORCE_COLOR=1
      - JWT_SECRET=gw2.me-secret
      - PORT=4000
    ports:
      - 4000:4000

  demo:
    image: ghcr.io/gw2treasures/gw2.me/demo:${IMAGE_VERSION:-latest}
    build:
      context: .
      dockerfile: apps/demo/Dockerfile
    restart: unless-stopped
    environment:
      - FORCE_COLOR=1
      - GW2ME_URL=http://localhost:4000
    ports:
      - 4001:3000

  database:
    image: postgres:18.3-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=gw2me
      - POSTGRES_PASSWORD=gw2me
      - POSTGRES_DB=gw2me
      - PGDATA=/var/lib/postgresql/data-mount/pgdata
    volumes:
      - .docker/database-pg18:/var/lib/postgresql/data-mount
    ports:
      - 54327:5432

  database-migration:
    image: ghcr.io/gw2treasures/gw2.me/database-migration:${IMAGE_VERSION:-latest}
    build:
      context: .
      dockerfile: apps/database-migration/Dockerfile
    restart: on-failure:3
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://gw2me:gw2me@database:5432/gw2me?schema=public
