html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-wotfard), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background);
}

a {
  color: #b7000d;
  text-decoration: none;
}

a:hover {
  text-decoration: 2px solid underline;
  text-underline-offset: 2px;
}

* {
  box-sizing: border-box;
}
