.header {
  border-bottom: 1px solid var(--color-border);
  padding: 0 16px;
  display: flex;
  gap: 16px;
  line-height: 16px;
  height: 48px;
  top: 0;
  position: sticky;
  align-items: center;
  background-color: var(--color-background);
  z-index: 1;
}

.title {
  font-family: var(--font-bitter);
  font-size: 20px;
  color: var(--color-text);
}

.right {
  margin-left: auto;
}

.content {
  padding: 16px;
}
