.viewport {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--color-border);
  padding: 0 16px;
  display: flex;
  gap: 16px;
  line-height: 16px;
  height: 48px;
  top: 0;
  position: sticky;
  align-items: center;
  background-color: var(--color-background);
  z-index: 2;
}

.header > svg {
  flex-shrink: 0;
}

.title {
  font-family: var(--font-bitter);
  font-size: 20px;
  color: var(--color-text);
}

.right {
  margin-left: auto;
}

.content {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 16px;
  border-top: 1px solid var(--color-border);
}

.footer > a {
  color: inherit;
}

.disclaimer {
  padding: 16px;
  border-top: 1px solid var(--color-border);

  font-size: 14px;
  color: var(--color-text-muted);
}

@media (max-width: 640px) {
  .mobileHidden { display: none !important; }
}
