.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffeeee;
  justify-content: center;
  gap: 64px;
  padding: 32px 16px;
}

.gw2treasures {
  margin-top: 16px;
}

.title {
  font-size: 64px;
  font-family: var(--font-bitter);
  font-weight: bold;
  color: var(--color-brand);
}

.sub {
  font-size: 36px;
  max-width: 420px;
  line-height: 1.5;
  margin-top: 32px;
  text-wrap: pretty;
}

.loginButton {
  margin-top: 32px;
  display: inline-block;
  background-color: #b7000d;
  color: #fff;
  padding: 8px 32px;
  border-radius: 2px;
  box-shadow: var(--shadow);
  transition: all .3s ease;
  text-decoration: none;
}

.loginButton:hover {
  text-decoration: none;
  background-color: #c83943;
}

.loginButton:focus {
  outline: 0;
  box-shadow: var(--shadow), inset 0 0 0 2px #b7000d, inset 0 0 0 4px #fff;
}

.image {
  background: radial-gradient(closest-side at center, #b7000d33, transparent);
}

.image > svg {
  max-width: 480px;
  width: 100vw;
}

.how {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  counter-reset: li;
}

.how > li {
  counter-increment: li;
  padding: 16px;
  background-color: var(--color-background-light);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 2px;
  flex: 1;
  line-height: 1.5;
}

.how > li::before {
  content: '0' counter(li);
  border-bottom: 2px solid var(--color-text-muted);
  font-family: var(--font-bitter);
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  font-weight: bold;
  color: var(--color-brand);
}

@media(prefers-color-scheme: dark) {
  .hero { background-color: #392429; }
  .image { background: radial-gradient(closest-side at center, #e34c5724, transparent); }
}
