.theme-light,
:root {
  color-scheme: light;

  --color-brand: #b7000d;

  --color-text: #000;
  --color-text-muted: #555;

  --color-background: #fff;
  --color-background-light: #f4f4f4;
  --color-background-light-transparent: #00000006;

  --color-border: #eee;
  --color-border-dark: #ddd;
  --color-border-transparent: rgba(0 0 0 / .066);

  --color-background-green: #F1F8E9;
  --color-text-green: #33691E;
  --color-border-green: #8BC34A;

  --color-focus: #245dc1;
  --shadow-focus: inset 0 0 0 2px var(--color-focus);

  --shadow: 0 0 2px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.14);

  --color-error: #f44336;

  --max-page-width: 1400px;
  --max-page-width--padding: max(16px, (100vw - var(--max-page-width) + 16px) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-brand: #e34c57;

    --color-text: #dcddde;
    --color-text-muted: #999;

    --color-background: #36393f;
    --color-background-light: #303339;
    --color-background-light-transparent: #0000001c;

    --color-border: #222428;
    --color-border-dark: #222428;
    --color-border-transparent: rgba(0 0 0 / .37);

    --color-background-green: #33691E;
    --color-text-green: #c5e1a5;
    --color-border-green: #13280b;

    --color-focus: #2196f3;

    --color-error: #ff6b60;

    --shadow: 0 0 2px rgba(0,0,0,0.24), 0 4px 8px rgba(0,0,0,0.28)
  }
}
