apiVersion: apps/v1
kind: Deployment

metadata:
  name: database-pg18

spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      name: database-pg18
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: database-pg18
    spec:
      volumes:
      - name: database-pg18-data
        persistentVolumeClaim:
          claimName: database-pg18
      containers:
      - name: database-pg18
        image: postgres:18.3-alpine
        resources:
          requests:
            memory: "128Mi"
            cpu: "10m"
        ports:
        - containerPort: 5432
          protocol: TCP
        env:
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: database-pg18
              key: user
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: database-pg18
              key: password
        - name: POSTGRES_DB
          value: gw2me
        - name: PGDATA
          value: /var/lib/postgresql/data-mount/pgdata

        readinessProbe:
          exec:
            command: 
              - /bin/sh
              - -i
              - -c
              - psql -U $POSTGRES_USER -d $POSTGRES_DB -c SELECT 1
          initialDelaySeconds: 15
          timeoutSeconds: 2
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -i
              - -c
              - psql -U $POSTGRES_USER -d $POSTGRES_DB -c SELECT 1
          initialDelaySeconds: 45
          timeoutSeconds: 2
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        volumeMounts:
        - name: database-pg18-data
          mountPath: /var/lib/postgresql/data-mount
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
