.header {
  border-bottom: 1px solid var(--color-border);
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 16px;
}

.title {
  font-family: var(--font-bitter);
  font-size: 20px;
  color: var(--color-text);
  --icon-color: var(--color-brand);
  display: flex;
  gap: 16px;
}

.right.right {
  margin-left: auto;
  --icon-color: var(--color-brand);
}

.content {
  padding: 16px;
}
