.icon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.iconBox {
  background-color: #f4f4f4;
  padding: 32px;
  border-radius: 2px;
  --icon-size: 32px;
}

.iconBoxDark {
  composes: iconBox;
  background-color: #303339;
}
